
p {
    border: 2px dotted purple;
    width: 200px;
    position: relative;
    left: 50px;
    top: 20px;
  
   
}

.fix {
    position: fixed;
    
    background-color: rgba(0, 255, 255, 0.541);
   }