.div1 {
width: 500px;
height: 500px;
background-color: pink;
position: relative;
top: 150px;
left: 300px;
}

.div2 {
    width: 250px;
    height: 250px;
    background-color: paleturquoise;
    position: absolute;
    top: 25%;
    left: 25%;
}
   