/*général*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  border: 0.5px dotted black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    width: 100%;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
}

.orange {
    color: orange;
}

li {
    list-style-type: none;
}

.centre {
    width: 50%;
    margin: auto;
    text-align: center;
}

small {
    color: rgb(119, 119, 119);
}

/*header*/

header {
    height: 120px;
}

#accueil {
    padding-top: 1%;
}

header h1 {
    margin-top: 25px;
    float: left;
}

nav {
    float: right;
    margin-top: 50px;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

/*main*/

h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: initial;
}

h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 15px;
    padding: 15px 0 15px 0;
}

#lien-image {
    font-size: 2em;
    margin: auto;
    position: relative;
    top: 180px;
}

a#par-ici {
    border-radius: 2px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 122, 0);
    margin-bottom: auto;
    padding: 15px 25px;
    position: relative;
    top: 250px;
}

#main {
    height: 600px;
    background: url(images/main.jpg) center;
    text-align: center;
}

/*steps*/

li.step {
    text-align: center;
    margin: 0;
    width: 33%;
    padding: 35px;
    display: inline-block;
    vertical-align: top;
}

#desti {
    margin: auto;
    padding: 50px 0;
    text-decoration: none;
}

/* circuit*/

#partir {
    background-image: url(images/article-image-1.jpg)
}

#evad {
    background-image: url(images/article-image-2.jpg)
    }

.circuit article {
    width: 420px;
    height: 270px;
    border-radius: 10px;
    display: inline-block;
    margin: 50px 10px;
    vertical-align: top;
    text-align: left;
}

.blanc {
    background-color: rgba(255, 255, 255, 0.945);
    width: 40%;
    height: 100%;
    text-align: center;
    border-radius: 9px 0px 0px 9px;
    display: inline-block;
}


.circuit h3 {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.circuit a {
    font-size: 0.8em;
    width: 50px;
    height: 25px;
    color: white;
    background-color: rgb(255, 122, 0);
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
}

.circuit p {
    padding-top: 5%;
    font-style: italic;
    padding-bottom: 25%;
    display: block;
}

.circuit {
    background-color: rgb(239, 239, 239);
}

/*contact*/

.contactez h2 {
    font-size: 1.8em;
    font-weight: bold;
    display: block;
    width: 350px;
    margin: auto;
    border-bottom: 2px solid rgb(2, 184, 221);
    padding: 5px 0 15px 0;
}

#contact {
    margin: 30px auto;
    text-align: center;
}

#contact p {
    margin: 30px auto;
    color: rgb(119, 119, 119);
}

form {
    font-size: 1.1em;
    font-weight: bold;
    color:#777777;
}

input {
    width: 200px;
    height: 30px;
    margin: 00 10px;
}

#ok {
    width: 40px;
    height: 35px;
    background-color: rgb(2, 184, 221);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

input[placeholder] {
    font-size: 1em;
}

/*footer*/

footer {
    width: 100%;
    color: white;
    background-color: rgb(68, 68, 68);
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}