button {
    width: 120px;
    height: 50px;
    border-radius : 10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: rgb(255, 122, 0);
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
    }