

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header {
   margin: 0px;
   padding: 0px;
}
nav {
    text-align: right;
}
button {
    width: 120px;
    height: 50px;
    border-radius : 1px;
    font-size: 1.2em;
    color: white;
    background-color: rgb(255, 122, 0);
}

h1 {
    font-family: 'Crete Round', serif;
}

article {
    border: 2px dotted purple;
}

#main {
    width: 100%;
    text-align: center;
    }

    #lien-image {
        margin-top: -8%;
        
    }

.destination {
    padding-left: 25%;
    padding-right: 5%;
        }

.step {
width: 25%;
text-align: center;
display: inline-block;
    }

