/*général*/

* {
    
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    width: 100%;
}

h1 {
    font-family: 'Crete Round', serif;
}

.orange {
    color: orange;
}

li {
    list-style-type: none;
}

.centre {
    width: 50%;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

/*header*/

header {
    
    height: 120px;
}

#accueil {
    padding-top: 1%;
}

header h1 {
    color: rgb(68, 68, 68);
    margin-top: 25px;
    float: left;
}

nav {
     float: right;
    margin-top: -30px;
    margin-right: 50%;
    text-transform: uppercase;
}

.menu li {
   
    display: inline-block;
}

nav a {
    text-decoration: none;
}

/*main*/

h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: initial;
    color: rgb(68, 68, 68);
}

h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 15px;
    padding: 15px;
    
}

#lien-image {
    font-size: 2em;
    margin: auto;
    position: relative;
    top: 250px;
}

a#par-ici {
    border-radius: 2px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 122, 0);
    margin-bottom: auto;
    padding: 15px;
    position: relative;
    top: 280px;
}

#main {
    height: 600px;
    background-image: url(images/main.jpg);
    text-align: center;
}

/*steps*/

li.step {
    width: 31%;
    text-align: center;
    display: inline-block;
    margin: 25px 0;
    box-sizing: border-box;
}

/*destinations*/

#destinations {
    margin: auto;
    padding-left: 50px;
    text-decoration: none;
}

.destination article {
    width: 460px;
    height: 270px;
    border-radius: 10px;
    display: inline-block;
    margin: 55px 10px;
}

.destination article:first-of-type {
    margin-left: 25%;
}

.destination div {
    background-color: rgba(255, 255, 255, 0.849);
    width: 40%;
    height: 100%;
    text-align: center;
    border-radius: 9px 0px 0px 9px;
    position: relative;
    top: -15px;
}

.destination {
    background-color: rgb(239, 239, 239);
}

.destination p {
    padding-top: 5%;
    font-style: italic;
    color: rgb(68, 68, 68);
    padding-bottom: 15%;
}

.destination a {
    font-size: 0.9em;
    width: 50px;
    height: 25px;
    color: white;
    background-color: rgb(255, 122, 0);
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
}

#dest1 {
    background-image: url(images/article-image-1.jpg)
}

#dest2 {
    background-image: url(images/article-image-2.jpg)
}

#contact {
    margin: 30px auto;
    text-align: center;
}

#contact p {
    margin: 30px auto;
}

form {
    font-size: 1.5em;
}

input {}

/*footer*/

footer {
    width: 100%;
    color: white;
    background-color: rgb(119, 119, 119);
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}